@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: #000208;
}

.ngx-pagination {
    margin-top: 10px;
    margin-left: 20px!important;
    margin-bottom: 1rem;
    width: 500px;
    background-color: rgb(252, 250, 250);
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #e87121;
  color: #fefefe;
  cursor: default;
}
