
<div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Order by
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="OnClickOption('NameASC')">Name(ASC)</a>
      <a class="dropdown-item" (click)="OnClickOption('NameDESC')">Name(DESC)</a>
      <a class="dropdown-item" (click)="OnClickOption('ModifiedASC')">Creation(ASC)</a>
      <a class="dropdown-item" (click)="OnClickOption('ModifiedDESC')">Creation(DESC)</a>
    </div>
  </div>

  